
<!--补救资源list-->
<div id="vue">

    <a href="###" onclick="backListLearnObject()">返回</a>
    <a href="###" v-if="indexList[alLearningObject.OBJECT_ID] > 0 " v-on:click="changeNext(indexList[indexList[alLearningObject.OBJECT_ID]-1 + '_id'])">上一个</a>
    <a href="###" v-if="indexList[alLearningObject.OBJECT_ID] < indexList['size'] -1 " v-on:click="changeNext(indexList[indexList[alLearningObject.OBJECT_ID]+1 + '_id'])">下一个</a>


    <div>
        <div v-if="alLearningObject.IS_CAN_DESCRIPTION == '1'">
            <div>
                <span>
                    目标:
                </span>
                <span>
                    [{{alLearningObject.objectTypeStr}}]
                </span>
                <span v-bind:style="alLearningObject.IS_STA_LEVEL=='1' ? 'color:red' : '' ">
                    [{{alLearningObject.IS_STA_LEVEL=='1'?'标准':'非标准'}}]
                </span>
                <span>
                    {{alLearningObject.OBJECT_DESC}}
                </span>
            </div>

        </div>

        <div v-if="alLearningObject.IS_CAN_DESCRIPTION != '1'">
            <div>
                    <span>
                        目标[{{alLearningObject.OBJECT_NO}}]:
                    </span>
                <span>
                        {{alLearningObject.OBJECT_DESC}}
                    </span>
            </div>
        </div>
    </div>

    <div>
        <a href="###" v-on:click="openAlItp(alLearningObject)">题目（{{alLearningObject.ITEM_COUNT}}）</a>
        <a href="###" v-on:click="openAlRes(alLearningObject)">补救资源（{{alLearningObject.RES_COUNT}}）</a>
        <a href="###" v-on:click="openAlObjSim(alLearningObject)">相似目标（{{alLearningObject.SIMILARITY_OBJECT_COUNT}}）</a>
        <a href="###" v-on:click="openAlObjParent(alLearningObject)">父（{{alLearningObject.PARENT_COUNT}}）</a>
        <a href="###" v-on:click="openAlObjSub(alLearningObject)">子（{{alLearningObject.SUB_COUNT}}）</a>
    </div>

    <a id="anchor-top"></a>



    <div >
        <div style="    margin-left: 90%;">
            <span >
                <a href="###" v-on:click="addParSubObject()">引入父目标</a>
            </span>
        </div>

        <div v-for="(alLearningObject,index) in alLearningObjectList">
            <div v-if="alLearningObject.IS_CAN_DESCRIPTION == '1'">
                <span>
                    目标{{index+1}}:
                </span>
                <span>
                    [{{alLearningObject.objectTypeStr}}]
                </span>
                <span v-bind:style="alLearningObject.IS_STA_LEVEL=='1' ? 'color:red' : '' ">
                    [{{alLearningObject.IS_STA_LEVEL=='1'?'标准':'非标准'}}]
                </span>
                <span>
                    {{alLearningObject.OBJECT_DESC}}
                </span>
                <span style="    float: right;">
                    <a href="###" v-on:click="deleteAlObjRelation(alLearningObject.RELATION_ID)">删除</a>
                </span>
            </div>

            <div v-if="alLearningObject.IS_CAN_DESCRIPTION != '1'">
                <span>
                    目标[{{alLearningObject.OBJECT_NO}}]:
                </span>
                <span>
                    {{alLearningObject.OBJECT_DESC}}
                </span>
                <span style="    float: right;">
                    <a href="###" v-on:click="deleteAlObjRelation(alLearningObject.RELATION_ID)">删除</a>
                </span>
            </div>

        </div>

    </div>
</div>

<script>


    var vm = new Vue({
                         el:"#vue",
                         data : {

                             alLearningObjectList:[],
                             alLearningObject:{

                             },
                             alLearningObjectVO:{
                                 kcId:'',
                                 objectType:'',
                                 isStaLevel:'1',
                                 objectDesc:'',
                             },


                         },
                         created(){
                             // this.defaultUserData  = JSON.parse(JSON.stringify(this.userForm));
                         },
                         // 初始化执行
                         mounted(){
                             //this.listUserList()
                         },
                         //执行某些方法后数据产生了变化再执行
                         updated:function () {

                         },
                         // 数据发生变化之后进行监听，再执行
                         watch:{
                             //初始化获取数据后，对数据进行监听，发现propertyGroup数据已经加载，默认选中第一个，获取属性值
                         },
                         methods : {
                             listLearnObject:function(){

                                 $.ajax({
                                            type : "post",
                                            url : projectName + "/engin/alLearningObject/listParent",
                                            data : JSON.stringify(vm.alLearningObjectVO),
                                            datatype : 'json',
                                            contentType:"application/json",
                                            success : function(data) {
                                                if(data.success == true){
                                                    vm.alLearningObjectList = data.obj;
                                                }else{
                                                    $.dialog.alert(data.message);
                                                }
                                            },
                                            error : function() {
                                                $.dialog.alert('请求失败！',function(){});
                                            }
                                        });
                             },
                             openAlItp:function (alLearningObject) {
                                 object = alLearningObject;
                                 openAlItp(alLearningObject.OBJECT_ID);
                             },
                             openAlRes:function (alLearningObject) {
                                 object = alLearningObject;
                                 openAlRes(alLearningObject.OBJECT_ID);
                             },
                             openAlObjSim:function (alLearningObject) {
                                 object = alLearningObject;
                                 openAlObjSim(alLearningObject.OBJECT_ID);
                             },
                             openAlObjParent:function (alLearningObject) {
                                 object = alLearningObject;
                                 openAlObjParent(alLearningObject.OBJECT_ID);
                             },
                             openAlObjSub:function (alLearningObject) {
                                 object = alLearningObject;
                                 openAlObjSub(alLearningObject.OBJECT_ID);
                             },
                             changeNext:function (id) {
                                 objectId = id;
                                 listObjById(objectId);
                                 openAlObjParent(objectId);
                             },
                             // 删除某个关系
                             deleteAlObjRelation:function(relationId){
                                 var obj = {};
                                 obj.relationId = relationId;
                                 $.ajax({
                                            type : "post",
                                            url : projectName + "/engin/alLearningObject/deleteAlObjRelation",
                                            data : JSON.stringify(obj),
                                            datatype : 'json',
                                            contentType:"application/json",
                                            success : function(data) {
                                                if(data.success == true){
                                                    openAlObjParent(objectId);
                                                }else{
                                                    mdui.alert(data.message);
                                                }
                                            },
                                            error : function() {
                                                $.dialog.alert('请求失败！',function(){});
                                            }
                                        });
                             },
                             // 添加父目标或者子目标
                             addParSubObject:function(){
                                 api = $.dialog({id:'addParSubObject',
                                                        title:'引入目标',
                                                        lock: true,
                                                        background: '#FFF', /* 背景色 默认的遮罩背景色为:#DCE2F1浅蓝护眼色 */
                                                        opacity: 0.5,       /* 透明度 */
                                                         // content: 'url:alObjParent_add',
                                                        max: false,
                                                        min: false,
                                                        drag: false,
                                                        resize: false,
                                                        zIndex:50,
                                                        width:750,
                                                        height: 400,
                                                        close:function(){
                                                            // 刷新当前页面
                                                            openAlObjParent(objectId);

                                                        }
                                                    });
                                 /* jQuery ajax */
                                 $.ajax({
                                            url:'alObjParent_add.html',
                                            success:function(data){
                                                api.content(data);
                                            },
                                            cache:false
                                        });
                             },

                         }
                     });


    var api = "";

    $(function(){
        // vm.listAlItp();
        console.log("objectId:" + objectId);
        vm.alLearningObject = object;
        vm.alLearningObjectVO.objectId = objectId;
        vm.listLearnObject();
    });
    function backListLearnObject() {

        openLearnObject(kcId,bcId);
    }






</script>