<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>首页</title>


    <script src="/common/js/jquery/jquery-2.1.4.min.js"></script>

    <link rel="stylesheet" href="/common/js/MDUI/css/mdui.min.css">
    <!--<script src="/common/js/MDUI/js/mdui.min.js"></script>-->
    <link rel="stylesheet" href="/common/js/MDUI/css/doc.css">

    <!--<link rel="stylesheet" href="/common/js/AmazeUI/css/amazeui.min.css">-->
    <script src="/common/js/AmazeUI/js/amazeui.min.js"></script>

    <link rel="stylesheet" href="/common/js/Pagination/page.css">
    <script src="/common/js/Pagination/page.js"></script>


</head>
<body class="mdui-drawer-body-left mdui-appbar-with-toolbar  mdui-theme-primary-indigo mdui-theme-accent-pink">
<header class="mdui-appbar mdui-appbar-fixed">
  <div class="mdui-toolbar mdui-color-theme" id="userInfo">
    <span class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white" mdui-drawer="{target: '#main-drawer', swipe: true}"><i class="mdui-icon material-icons">menu</i></span>
    <a href="index.html" class="mdui-typo-headline mdui-hidden-xs">后台管理</a>
          <a href="color.html" class="mdui-typo-title">首页</a>
        <div class="mdui-toolbar-spacer"></div>
      <div class="mc-login-btn mdui-btn mdui-btn-dense mdui-ripple mdui-ripple-white" v-on:click="logout()">退出</div>
  </div>
</header>



<a id="anchor-top"></a>

<style>
  .color-palette{
    position: relative;
    padding: 0 0 36px 0;
    margin: 0;
    list-style: none;
    font-weight: 500;
    font-size: 14px;
  }
  .color-palette li {
    padding: 15px;
  }
  .color-palette .color-divider {
    margin-top: 8px;
  }
  .color-palette .main-color {
  }
  .color-palette .main-color .color-name {
    display: block;
    margin-bottom: 60px;
  }
  .color-palette .color-hex {
    float: right;
    text-transform: uppercase;
  }
  .color-palette .anchor-primary-color {
    position: absolute;
    top: -72px;
  }
  .color-palette .anchor-accent-color {
    position: absolute;
    top: 520px;
  }
</style>


<div class="mdui-container doc-container doc-no-cover" id="user">
  <h1 class="doc-title mdui-text-color-theme">用户管理
      <button class="mdui-btn mdui-btn-dense mdui-btn-raised mdui-ripple mdui-color-blue-accent"
               v-on:click="setPropertyRedis()">
          加载缓存
      </button>
  </h1>

    <div class="mdui-row" >

        <div class="mdui-col-xs-12">
            <div class="mdui-col-xs-9">
                <h3 class="doc-title mdui-text-color-theme">用户</h3>
            </div>
            <div class="mdui-col-xs-3">
                <h3 class="doc-title mdui-text-color-theme">
                    <button class="mdui-btn mdui-btn-icon mdui-btn-dense mdui-btn-raised mdui-color-theme-accent mdui-ripple mdui-center" mdui-dialog="{target: '#addProperty'}">
                        <i class="mdui-icon material-icons">add</i>
                    </button>
                </h3>
            </div>
           <!-- <ul class="mdui-list" v-for="(property,index) in propertyList">
                <li class="mdui-list-item mdui-ripple">
                    {{property.propertyValue}}
                </li>
                <li class="mdui-divider"></li>
            </ul>-->
            <div class="mdui-table-fluid">
                <table class="mdui-table mdui-table-hoverable">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>realName</th>
                        <th>loginName</th>
                        <th>状态</th>
                        <th>角色</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(user,index) in userList" >
                        <td>{{index+1}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                        <td>

                            <button class="mdui-btn mdui-btn-dense mdui-btn-raised mdui-ripple mdui-color-theme-accent"
                                    mdui-dialog="{target: '#addProperty'}" v-on:click="editProperty(property)">
                                修改
                            </button>
                            <button class="mdui-btn mdui-btn-dense mdui-btn-raised mdui-ripple mdui-color-theme-accent"
                                    v-on:click="delProperty(index,property.gid)">
                                删除
                            </button>
                            <button class="mdui-btn mdui-btn-dense mdui-btn-raised mdui-ripple mdui-color-theme-accent"
                                    v-on:click="delProperty(index,property.gid)">
                                禁用
                            </button>
                        </td>
                    </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div id="Pagination">a</div>

</div>




<script src="/common/js/MDUI/js/mdui.min.js"></script>
<script src="/common/js/vue/vue.min.js"></script>

<script>

    $(function(){
        aaa();
    });

    //进度指示器
    /*var dialogOptions = {
        modal : true,
        closeOnEsc : false,
    }
    var spinner = new mdui.Dialog('#spinner',dialogOptions);*/
function aaa() {

    var obj = $("#Pagination").page({
                                        //  后台地址
                                        url : "/testC/testPage",
                                        data: {
                                            // 第一次请求时需要的查询参数,默认为空
                                            newsName : "aaaa",
                                            userId:"10",
                                        },
                                        pageNo:1, // 默认1
                                        pageSize:5, // 默认10
                                        getRes: function(data){
                                            // 这里可以对服务器返回给你的数据进行处理,如拼接html进table等等
                                            console.log(data)
                                        },
                                        initComplete: function(){
                                            // 这里可以做需要dom初始化完成的操作
                                        }
                                    })
}



</script>

